@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'

.main
    position: relative
    z-index: 1
    overflow: hidden
    &-man
        position: relative
        z-index: 111
        width: 100%
        text-align: center
        pointer-events: none
        img
            display: block
            width: 420px
            max-width: 30%
            object-fit: contain
            object-position: center bottom
            height: 85vh
            max-height: 900px
            margin: 0 auto

    &-slider
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1

    .container
        padding: 0
        margin: 0 auto
        max-width: 1090px
        height: 85vh
        max-height: 900px
        position: relative
        z-index: 1
        display: flex
        justify-content: space-between
        align-items: center
        &::before
            content: ''
            display: block
            width: 380px
            height: 380px
            max-width: 30vw
            max-height: 30vw
            aspect-ratio: 1/1
            border-radius: 380px
            background: #CE0C11
            position: absolute
            z-index: -1
            top: 40%
            left: 50%
            transform: translate(-50%, -50%)

        &.blue::before
            background: #056BB0

        &.purple::before
            background: #781069

    &-item
        width: 300px
        img
            margin-bottom: 20px

        &.left
            text-align: right
            img
                display: block
                margin: 0 0 0 auto

    &__fill
        display: inline-block
        text-transform: uppercase
        font-size: 13px
        line-height: 150%
        &::before
            content: ''
            display: inline-block
            vertical-align: top
            margin-top: 4px
            margin-right: 12px
            width: 10px
            height: 10px
            background-color: #fff

    &__heading
        font-weight: bold
        font-size: 20px
        margin-bottom: 38px

    .btn,
    &__heading,
    &__text
        opacity: 0
        transition: .8s ease all
        transform: translateY(20px)

    &__text
        font-size: 16px
        transition-delay: .3s
        margin-bottom: 47px

    .btn
        transition-delay: .5s

    &-img
        display: inline-block
        position: absolute
        transition: 1s ease all
        &.first
            width: 240px
            bottom: -20px
            left: -277px
            transform: rotate(-30deg) translateY(-200px)

        &.second
            width: 142px
            top: 10%
            right: -186px
            transform: rotate(30deg) translateX(100px)

        img
            display: block
            width: 100%

    .slick
        &-current
            .main
                &-img
                    &.first
                        transform: rotate(-40deg) translateY(0)
                    &.second
                        transform: rotate(30deg) translateX(0)

                &__heading,
                &__text,
                &-item .btn
                    opacity: 1
                    transform: translateY(0px)

.products
    display: flex
    padding: 0
    max-width: 1500px
    margin: 0 auto

.product
    width: 33.3%
    position: relative
    z-index: 1
    img
        display: block
        width: 100%

    h2
        font-size: 30px
        margin-bottom: 20px

    &-title
        height: 100%
        position: absolute
        background-color: #820302
        padding: 40px 45px
        transition: all ease .3s
        opacity: 0
        visibility: hidden
        transform: translateY(-40%)
        top: 50%
        left: 0
        width: 100%
        min-height: 105%
        display: flex
        align-items: center
        justify-content: flex-start
        align-items: center
        flex-direction: column
        background-repeat: repeat-x
        background-size: 15px auto
        background-position: bottom -8px left
        background-image: url('../img/tile.svg')

        p
            line-height: 140%

        &.blue
            background-color: #056bb0

        &.purple
            background-color: #83009f

    &__descr
        width: 100%
        text-align: left
        line-height: 130% !important
        margin: 0 0 25px
        font-weight: 500
        font-size: 18px
        line-height: 1.2

    &__text
        font-weight: 300
        width: 100%
        font-size: 15px
        line-height: 1.2

    &__info
        margin-bottom: 20px
        font-size: 16px
        line-height: 1.2

    &__footer
        font-size: 18px
        line-height: 1.2
        font-weight: 300
        b
            display: block
            font-size: 20px

    &-bottom
        margin: auto 0 0

    &:hover
        z-index: 999
        .product-title
            opacity: 1
            visibility: visible
            transform: translateY(-50%)

.features
    padding: 100px 0 50px
    box-shadow: 0px 0px 38.4px 1.6px rgba(0, 0, 0, 0.3)
    position: relative
    z-index: 999
    .container
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        justify-content: space-between

    &-item
        min-width: 26%
        max-width: 32%
        display: flex
        align-items: center
        margin-bottom: 50px
        img
            display: inline-block
            width: 54px
            height: 54px
            object-fit: contain
            margin-right: 30px

        p
            font-size: 13px
            text-transform: uppercase
            line-height: 24px
            margin: 0
            color: #e4e1e1

.test
    padding: 130px 0
    display: flex
    justify-content: center
    align-items: center
    img
        max-width: 255px

    p
        border-left: 1px solid #fff
        padding-left: 45px
        margin: 0 45px
        font-size: 20px
        strong
            text-transform: uppercase
            font-size: 17px

.bay
    overflow: hidden
    padding: 130px 0
    text-align: center
    box-shadow: 0px 0px 38.4px 1.6px rgba(0, 0, 0, 0.3)
    position: relative
    z-index: 1
    h2
        margin-bottom: 70px

    .wrap
        align-items: center !important

    &-item
        margin: 0 20px
        img
            display: block
            max-height: 55px
            object-fit: contain

.medicare
    padding: 135px 0
    h2
        margin-bottom: 30px

    p
        font-size: 18px
        margin-bottom: 30px
        max-width: 90%

    &__img
        width: 130px
        position: absolute
        top: 0
        right: calc( 100% + 20px )

    .container
        max-width: 930px

    .wrap
        gap: 20px
        img
            max-width: 135px
            object-fit: contain
            height: 65px
            display: inline-block

@import 'footer'

@media screen and ( max-width: 1300px )
    .product
        &-title
            padding: 30px 30px

    .medicare
        &__img
            position: static
            margin-bottom: 20px

@media screen and ( max-width: 1200px )
    .features
        padding: 50px 0 20px
        &-item
            display: block
            text-align: center
            img
                margin: 0 0 10px

    .products
        // display: block
        flex-wrap: wrap
        justify-content: center

    .product
        // width: 50%
        &-title
            // padding: 35px 40px

        h2
            font-size: 20px
            font-weight: 400
            margin-bottom: 10px

        &__descr
            font-size: 12px
            margin-bottom: 10px

        &__text
            font-size: 10px
            line-height: 14px

        &__info
            font-size: 10px

        &__footer
            font-size: 11px
            b
                font-size: 12px

@media screen and ( max-width: 900px )
    .main
        &-man
            text-align: left
            max-width: 390px
            margin: 0 auto
            img
                margin: 0 auto 0 10px
                width: 60vw
                max-width: 60vw
                height: 340px
                object-position: left bottom

        &-img
            &.first
                left: -10px
                bottom: -5px
                width: 10%
                min-width: 42px
            &.second
                top: 3%
                right: -10px
                min-width: 66px
                width: 15%

        &-item
            width: 50%
            margin: 0 0 0 auto
            text-align: left !important
            align-self: flex-end
            display: inline-flex
            flex-direction: column-reverse
            &.right
                display: none

            img
                height: 220px
                object-fit: contain

        &__fill
            font-size: 9px
            padding-left: 16px
            position: relative
            &::before
                width: 6px
                height: 6px
                position: absolute
                top: 0
                left: 0

        .container
            max-width: 390px
            height: 340px
            justify-content: flex-end
            &::before
                left: 8%
                width: 152px
                height: 152px
                max-width: unset
                max-height: unset
                transform: translate(0%, -69%)

    .features
        padding: 50px 0 20px
        &-item
            margin-bottom: 30px

            p
                font-size: 9px
                line-height: 16px

    .products
        flex-wrap: wrap
        justify-content: center

    .product
        width: 50%
        &-title
            min-height: 100%
            padding: 35px 40px

    .test
        padding: 50px 0
        max-width: 400px
        margin: 0 auto
        flex-wrap: wrap
        img
            max-width: 111px
            text-align: center

        p
            margin: 0 0 0 15px
            padding-left: 15px
            font-size: 11px
            strong
                font-size: 12px

        .btn
            margin-top: 26px

    .bay
        padding: 50px 0 55px
        h2
            margin-bottom: 35px
        &-item
            margin: 0 15px
            img
                max-height: 35px

@media screen and ( max-width: 700px )
    .features
        &-item
            min-width: unset
            max-width: unset
            width: 48%
    .products
        display: block

    .product
        width: 100%

    .medicare
        padding: 70px 0
        &__img
            max-width: 75px
            display: block
            margin: 0 auto 30px
        .wrap
            gap: 10px
            flex-wrap: nowrap
            img
                max-height: 24px
                min-width: unset
        h2
            font-size: 10px
            line-height: 15px
            margin-bottom: 15px

        p
            font-size: 11px
            line-height: 15px
            margin-bottom: 20px
